<header id="header" class="header header-hide">
    <!-- 왼쪽 사이드 메뉴 스크립트 -->
  <script>
    var depth = "<%=depth%>";
    var sub   = "<%=sub%>";
    console.log("depth : ", depth, ", sub : ", sub);
    $(function(){
      $("#nav-menu-container").css("position","inherit");
        // 왼쪽메뉴 드롭다운
        $(".sub_menu ul.small_menu").hide();
        $(".sub_menu ul.small_menu").eq(depth).show();
        $(".sub_menu ul.small_menu").eq(depth).find("li").eq(sub).css({"background-color":"#e1e1e1"});
        $(".sub_menu ul.small_menu").eq(depth).find("li").eq(sub).find("a").css({"color":"#ff5858"});
        $(".sub_menu ul.big_menu").click(function () {
            $("ul", this).slideToggle(300);
        });
    });
  </script>
<style>
@media (max-width: 1550px) {
  .footer{
    background: #2a2c30;
    padding: 30px;
    margin-left: 300px !important;
  }
  .padd-section {
    padding-bottom: 80px;
    padding-top: 80px;
    margin-left: 400px !important;
  }
}
</style>
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><img src="/imges/logos.png"/></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-has-children"><a href="javascript:void(0)">마이페이지</a>
            <ul>
              <li><a href="#">내 정보수정</a></li>
              <li><a href="/auth/logout_process">로그아웃</a></li>
              <li><a href="/v1/console/app">내 애플리케이션</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
    <div id="wrapper">
      <div class="topbar" style="position: absolute; top:0;">
          <!-- 왼쪽 서브 메뉴 -->
          <div class="left_sub_menu">
              <div class="sub_menu">
                  <h2>REST API</h2>
                  <ul class="big_menu">
                      <li>개발 가이드<i class="fas fa-book" style="margin-right:12px; float:right; margin-top: 7px;"></i></li>
                      <ul class="small_menu">
                          <li onclick="javascript:location.href='/v1/documents?depth=0&sub=0'"><a href="javascript:void(0);">OAuth 인증</a></li>
                          <li  onclick="javascript:location.href='/v1/documents/login?depth=0&sub=1'"><a href="javascript:void(0);">로그인</a></li>
                          <li  onclick="javascript:location.href='/v1/documents/token/token?depth=0&sub=2'"><a href="javascript:void(0);">토큰 발급</a></li>
                          <li  onclick="javascript:location.href='/v1/documents/token/reToken?depth=0&sub=3'"><a href="javascript:void(0);">토큰 갱신</a></li>
                      </ul>
                  </ul>
                  <ul class="big_menu">
                      <li>사용자 API<i class="fas fa-users" style="margin-right:12px; float:right; margin-top: 7px;"></i></li>
                      <ul class="small_menu">
                          <li onclick="javascript:location.href='/v1/documents/user?depth=1&sub=0'"><a href="#">사용자 정보</a></li>
                      </ul>
                  </ul>
                  <ul class="big_menu">
                      <li>블로그 API<i class="fas fa-table" style="margin-right:12px; float:right; margin-top: 7px;"></i></li>
                      <ul class="small_menu">
                          <li onclick="javascript:location.href='/v1/documents/blog?depth=2&sub=0'"><a href="#">블로그 목록</a></li>
                          <li onclick="javascript:location.href='/v1/documents/blog?depth=2&sub=1'"><a href="#"></a>블로그 상세</a></li>
                          <li onclick="javascript:location.href='/v1/documents/blog?depth=2&sub=2'"><a href="#"></a>블로그 수정</a></li>
                          <li onclick="javascript:location.href='/v1/documents/blog?depth=2&sub=3'"><a href="#"></a>블로그 삭제</a></li>
                      </ul>
                  </ul>
                  <ul class="big_menu">
                    <li>날씨 API<i class="fas fa-cloud-sun-rain" style="margin-right:12px; float:right; margin-top: 7px;"></i></li>
                    <ul class="small_menu">
                        <li onclick="javascript:location.href='/v1/documents/weather?depth=3&sub=0'"><a href="#">공공데이터 격자좌표 위치</a></li>
                    </ul>
                </ul>
              </div>
          </div>
          <div class="overlay"></div>
      </div>
      </div>
  </header><!-- #header -->