<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../layout/back.ejs') %>
    <title>ES developers</title>
    <link href="/css/apimenu.css" rel="stylesheet">
    <script>
$(function(){

  selectMyAppList();


  $("#addApp").click(function(){ 
    $(".modal").fadeIn(); 
  });

  $("#modal_cencle").click(function(){ 
    $(".modal").fadeOut();
    $("#app_form")[0].reset();
    $("#uploadImg").html(`이미지<br>업로드`);
    changeSaveBtn(false);
  });

  $("#enterprise_name").on('focusout',function(){
    if(Util.get($(this).val()) === ""){
      changeSaveBtn(false);
    }
    if(Util.get($("#app_name").val()) === ""){
      changeSaveBtn(false);
    }
    if(Util.get($('#app_img').val()) === ""){
      changeSaveBtn(false);
    }
      changeSaveBtn(true);
  });

  $("#app_name").on('focusout',function(){
    if(Util.get($(this).val()) === ""){
      changeSaveBtn(false);
    }
    if(Util.get($("#enterprise_name").val()) === ""){
      changeSaveBtn(false);
    }
    if(Util.get($('#app_img').val()) === ""){
      changeSaveBtn(false);
    }
      changeSaveBtn(true);
  });

  $("#modal_save").on('click',function(){

    var data = new FormData($("#app_form")[0]);
      $.ajax({
        url:"/v1/console/app",
        type:"POST",
        enctype: 'multipart/form-data',
        data:data,
        processData: false,
        contentType: false,
        cache:false,
        timeout:600000,
        success:(data)=>{ 
            if(data == "Created"){
              location.reload();
            }
        },
        error:(err)=>{
          console.log(err);
        }
      });
    });
});

function selectMyAppList(){
  $.ajax({
      url:"/v1/user/me",
      type:"GET",
      dataType:'json',
      success:(data)=>{

      },
      error:(err)=>{
        console.log(err);
      }
    });


  $.ajax({
      url:"/v1/console/app/list",
      type:"GET",
      dataType:'json',
      success:(data)=>{ 
        if(data.length == 0) return false;
        var values = '';
        for(var i = 0; i < data.length;i++){
          var filePath = data[i].FILE_PATH;
          
          if(filePath == null) filePath = '/imges/blog/blog-image-1.jpg';
          values += ` <div class="col-md-6 col-lg-4 mt-5">
                        <div class="block-blog text-left">
                          <a href="#"><img src="${filePath}"width='360' height='220' alt="/imges/blog/blog-image-1.jpg"></a>
                          <div class="content-blog">
                            <h4><a href="#">${data[i].APP_NAME}</a></h4>
                            <span>${data[i].REG_DTTM}</span>
                            <a class="pull-right readmore" href="/v1/console/app/${data[i].APP_SEQ}">View Details</a>
                          </div>
                        </div>
                      </div>`;
        }
        $("#app_area").html(values);
      },
      error:(err)=>{
        console.log(err);
      }
    });
}

function file_open(){
  $("input[name='app_img']").click();
}

function LoadImage(){
  var file = $("input[name='app_img']")[0].files[0];
  Util.resizeImg('uploadImg',file,90,90);
  changeSaveBtn(true);
}

function changeSaveBtn(result){
  var saveBtn = document.getElementById('modal_save');

  if(result){
    saveBtn.disabled = false;
    saveBtn.className = 'btn btn-success' ;
  }else{
    saveBtn.disabled = true;
    saveBtn.className = 'btn btn-secondary' ;
  }

}
    </script>
</head>
<body>
    <%- include('../layout/blog/header.ejs') %>

    <!--==========================
    API Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
        <div class="row mt-4">
    <h4>home</h4>
    </div>
  </section>  
  <section id="blog" class="padd-section wow fadeInUp">
    <div class="container">
      <div class="section-title text-center">

        <h2>전체 애플리케이션</h2>
        <p class="separator"><a href="javascript:void(0)" id="addApp">애플리케이션 추가하기<i class="fas fa-pencil-alt" style="margin-bottom: 3px;"></i></a></p>
      </div>
    </div>

    <div class="container">
      <div class="row" id="app_area">

      </div>
    </div>
  </section>
  <div class="modal">
    <div class="modal_content"> 
      <header>
        <strong class="tit_layer">애플리케이션 추가하기</strong>
      </header>
      <hr/>
     <form  name="app_form" onsubmit="return false;" id="app_form" enctype="multipart/form-data">
        <table class="app_table">
          <tbody>
            <tr>
              <th>App Image</th>
              <td>
                <div class="APP_ImgArea">
                  <div class="box_thumb" tabindex="0">
                    <span class="txt_default">
                      <span class="txt_g" id="uploadImg">
                         이미지<br>업로드
                      </span>
                    </span>
                  </div>
                  <div class="box_file">
                    <input accept="image/jpeg,image/jpg,image/gif,image/png" multiple="" type="file" autocomplete="off" onchange='LoadImage();' tabindex="-1" name="app_img" id="app_img" style="display: none;">
                    <button type="button" onclick="file_open();" class="lab_file show_pc" id="img_file_btn" tabindex="0">파일 선택</button>
                    <div class="txt_file">
                      JPG, GIF, PNG<br>권장 사이즈 360px, 최대 350KB
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>App Name</th>
              <td>
               <div class="modal_input_area">
                <input name="app_name" type="text" id="app_name" class="modal_input" placeholder="내 애플리케이션 이름" value="">
               </div>
              </td>
            </tr>
            <tr>
              <th>Enterprise Name</th>
              <td>
               <div class="modal_input_area">
                <input name="enterprise_name" type="text" id="enterprise_name" class="modal_input" placeholder="사업자 명" value="">
               </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>정보가 정확하지 않은 경우 서비스 이용이 제한될 수 있습니다.</li>
        </ul>
        <div class="modal_footer">
            <div class="modal_footer_left">
              <button id="modal_cencle" class="btn btn-danger">CANCEL</button>
            </div>
            <div class="modal_footer_right">
              <button id="modal_save" class="btn btn-secondary" disabled>SAVE</button>
            </div>
        </div>
     </form>
    </div> 
  </div>

    <%- include('../layout/footer.ejs') %>
</body>
</html>