<header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1>
            <a href="/" class="scrollto">
            <img src="/imges/portfolio_logo.png"/></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu" id="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <!-- <li><a href="#get-started" >development experience</a></li> -->
          <li><a href="#about-us">API Documents</a></li>
          <li><a href="#features">Stack</a></li>
          <li><a href="#screenshots">Movie Crawling</a></li>
          <li><a href="#team">Instagram</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->