<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../layout/back.ejs') %>
    <title>API Document</title>
    <link href="/css/apimenu.css" rel="stylesheet">

</head>
<body>
    <%- include('../../layout/apis/header.ejs') %>
    <!--==========================
    API Section
  ============================-->
  <section class="padd-section text-center wow fadeInUp">
    <div class="container"><br/><br/>
      <div class="section-title text-center">
        <h2 style="font-weight: 700;">Login</h2>
        <div class="title-area"><span class="get">GET </span>&nbsp;&nbsp; http://ihd8606.cafe24.com:8888/oauth/authorize</div><br/>
        <p class="separator">
            Client_id 및 아래 Parameter 값들과 함께 요청이 정상인 경우 LOCAL LOGIN PAGE 로 REDIRECT 됩니다.
        </p><br/><br/>
        <span class="api-title">REQUEST</span><br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>client_id</td>
                <td>String</td>
                <td>앱 REST API 키 [내 애플리케이션] > [앱 키]에서 확인 가능</td>
                <td>O</td>
            </tr>
            <tr>
                <td>redirect_uri</td>
                <td>String</td>
                <td>인가 코드가 리다이렉트될 URI</td>
                <td>O</td>
            </tr>
        </table>
        <span class="api-title">RESPONSE</span><br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>code</td>
                <td>String</td>
                <td>토큰 받기 요청에 필요한 인가 코드</td>
                <td>O</td>
            </tr>
            <tr>
                <td>error</td>
                <td>String</td>
                <td>인증 실패 시 반환되는 에러 코드</td>
                <td>X</td>
            </tr>
            <tr>
                <td>error_description</td>
                <td>String</td>
                <td>인증 실패 시 반환되는 에러 메시지</td>
                <td>X</td>
            </tr>
        </table>
        <span class="api-title">Error Message</span><br/><br/>
        <table class="table">
            <tr>
                <th>error</th>
                <th>error_description</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>access_denied</td>
                <td>String</td>
                <td>client_id 가 정확하지 않은 경우</td>
            </tr>
            <tr>
                <td>database_error</td>
                <td>String</td>
                <td>데이터베이스 에러</td>
            </tr>
            <tr>
                <td>access_denied</td>
                <td>String</td>
                <td>요청정보가 없을 때</td>
            </tr>
            <tr>
                <td>access_denied</td>
                <td>String</td>
                <td>비밀번호가 일치하지 않을 때</td>
            </tr>
        </table>
      </div>
    </div>
  </section>
    <%- include('../../layout/footer.ejs') %>
</body>
</html>