<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>myHistory</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 <%- include('layout/back.ejs') %>
 <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7310d6d1ab2092c321eeac72042dfc50&libraries=services"></script> -->
<script>
  const toDayApiCnt = 0;
  $(()=>{
    //날씨 API 출력
    Util.getLocation("quick_menu_container",Util.sysDate());

    var login = '<%=login%>';

    //롯데시네마 데이터 크롤링
    $.ajax({
      url:"/v1/apis/movie",
      type:"GET",
      dataType:"json",
      success:(data)=>{
        var html = "";
          for(var i = 0; i < data.length;i++){
            html += `<div><img class="movieImg" src="` + data[i].IMG_SRC + `" alt="img"><div class="movieTile">`
                 + data[i].TITLE + `</div><div class="movieContent">`
                 + data[i].RATE
                 + `<span class="iconify" data-icon="ci:line-m" data-inline="false"></span>
                 <span class="iconify" data-icon="bx:bxs-star" style="color:orange; border-color:gray; margin-bottom:4px;" data-inline="false"></span>
                 ` + data[i].STAR + `</div></div>`;
          }
        $("#movieList").html(html);
            // Init Owl Carousel
        $('.owl-carousel').owlCarousel({
              items: 4,
              autoplay: true,
              loop: true,
              margin: 30,
              dots: true,
              responsiveClass: true,
              responsive: {
                320: { items: 1},
                480: { items: 2},
                600: { items: 2},
                767: { items: 3},
                768: { items: 3},
                992: { items: 4}
              }
        });
      },
      error:(err)=>{
        console.log(err);
      }
    });
    $.ajax({
      url:"/v1/blog/top3",
      type:"GET",
      success:(data)=>{ 
        var datas  = data.data;
        var values = '';
        var webDomain = window.location.protocol+ "//" + window.location.host;
        if(datas == null || datas.length == 0) {
          values="<div class='blog-none'>작성된 블로그 내용이 없습니다.</div>";
          $("#blog_area").html(values);
          return false;
        }

        for(var i = 0; i < datas.length;i++){
          var mainImg = datas[i].MAIN_IMG;
          if(mainImg == null) mainImg = '/imges/blog/blog-image-1.jpg';

          values += ` <div class="col-md-6 col-lg-4 mt-5">
                        <div class="block-blog text-left">
                          <a href="javascript:void(0)"><img src="${(mainImg === ""?"/imges/blog/blog-image-1.jpg":mainImg)}"width='360' height='220' onerror="this.src='${webDomain}/imges/blog/blog-image-1.jpg'"></a>
                          <div class="content-blog">
                            <h4><a href="#">${datas[i].TITLE}</a></h4>
                            <span>${datas[i].REG_DTTM}</span>
                            <a class="pull-right readmore" href="/v1/blog/detail/${datas[i].BLOG_SEQ}?category=${btoa('detail')}">View Details</a>
                          </div>
                        </div>
                      </div>`;
        }

        $("#blog_area").html(values);
      },
      error:(err)=>{
        console.log(err);
      }
    });

  });
function checkMail(){
  if($("#company").val() == ""){
    alert("회사명을 입력해 주세요!");
    $("#company").focus();
    return false;
  }
  if($("#mail").val() == ""){
    alert("mail을 입력해 주세요!");
    $("#mail").focus();
    return false;
  }
  if(Util.isEmail($("#mail").val())){
    alert("mail 형식을 확인해 주세요!");
    $("#mail").focus();
    return false;
  }
  if($("#subject").val() == ""){
    alert("제목을 입력해 주세요!");
    $("#subject").focus();
    return false;
  }


}
function getLoadName(id,date,x,y){
  //날씨데이터 넣어주기.
  //좌표로 주소 가져오기.
    $.ajax({
      url : 'https://dapi.kakao.com/v2/local/geo/coord2address.json',
      data:{"x":y,"y":x},
      type : 'GET',
      headers : {
        'Authorization':'KakaoAK 7d0360bb7fd3d1e0e6552378428bb8a4'
      },
      success :function(data) {
        //필요한 값만 추출
        var juso1 = data.documents[0].address.region_1depth_name;
        var juso2 = data.documents[0].address.region_2depth_name;
        var juso3 = data.documents[0].address.region_3depth_name;
        getWeather(date,juso2+juso3.substr(0, juso3.length -1));
        //현재 내 위치 기반 주소 해당 영역에 추가 해주기.
        $("#quick_menuHeader").text(juso1 + " " +  juso2 + " " + juso3);
      },
      error:function(e) {
        console.log(e);
      }
    });
  
}

function getWeather(date,address){
       //현재 일시분초 셋팅
     var hours = (new Date().getHours()-1).toString();
     if(hours.length == 1) hours = "0" + hours;
     var date = parseInt(Util.sysDate());
  //database 에서 격자 좌표 변환처리 정보 조회
  $.ajax({
      url : '/v1/apis/weather/locationGridXY',
      data:{"address":address},
      type : 'GET',
      dataType:'json',
      success :function(data) {
          if(Util.get(data) === ""){
            console.log("data.err")
          }
          var x = data.lat;
          var y = data.lng;
          //변환된 좌표로 날씨정보 조회
          $.ajax({
                url:"/v1/apis/weather",
                data:{"date":date,"hour":hours,"x":x,"y":y},
                type:"GET",
                dataType:"json",
                success:(data)=>{
                  //가져온데이터 가공 위해서 function 분리.
                  writeWeather(data);
                },
              error:(err)=>{
                console.log(err);
              }
          });
      },
      error:function(e) {
        console.log(e);
      }
    });
}
//날씨 setting function
function writeWeather(data){
  var html = "";
      /*
      * PTY	강수형태	: 없음(0), 비(1), 비/눈(2), 눈(3), 소나기(4), 빗방울(5), 빗방울/눈날림(6), 눈날림(7)
      * RN1 1시간 강수량 : mm 
      * REH	습도	 %
      * S06	6시간 신적설	범주(1 cm)
      * SKY	하늘상태	코드값 : 맑음(1), 구름많음(3), 흐림(4) 
      * T1H	기온 ℃
      * UUU	풍속(동서성분)	 m/s
      * VVV	풍속(남북성분)	 m/s
      * LGT 낙뢰 코드값
      * VEC 풍향 0
      * WSD 풍속 1
      */
    var whList = data;
    var precipitation;
    for(var i = 0; i < whList.length;i++){
          if(whList[i].category === "SKY"){
            if(whList[i].fcstValue === "1") {
              backgroundWeather('sun');
            }
            if(whList[i].fcstValue === "3") {
              $("#quick_menu_left_area").html(`<img src="/imges/many-cloud.png">`);
              $("#quick_menu_right_sec").text(`구름많음`);
            }
            if(whList[i].fcstValue === "4"){
               changeDisplay('rain');
               backgroundWeather('rain');
               $("#quick_menu_left_area").html(`<img src="/imges/cloud.png">`);
               $("#quick_menu_right_sec").text('흐림');
            }
          }
          if(whList[i].category === "T1H") {
            $("#ondo").text(whList[i].fcstValue + `°C`); 
          }
              
          if(whList[i].category === "RN1"){
            var result = parseInt(whList[i].fcstValue.substr(0, whList[i].fcstValue.length -2));
            if(result >= 1 && result <= 3){
                precipitation = "(약함)"
              }
            if(result > 3 && result <= 15){
                precipitation = "(보통)"
            }
            if(result > 15 && result <= 30){
                precipitation = "(강함)"
            }
            if(result > 30){
                precipitation = "(매우 강함)"
            }
            $("#precipitation").text(precipitation);
          }
          if(whList[i].category === "PTY"){
            if(whList[i].fcstValue !== "0") {
              changeDisplay('rain');
              if(whList[i].fcstValue === "1") {
                backgroundWeather('rain');
              }
              if(whList[i].fcstValue === "2") $("#quick_menu_right_sec").text(`비/눈`);
              if(whList[i].fcstValue === "3") $("#quick_menu_right_sec").text(`눈`);
              if(whList[i].fcstValue === "4") {
                backgroundWeather('rain');
              }
              if(whList[i].fcstValue === "5") {
                backgroundWeather('rain');
              }
              if(whList[i].fcstValue === "6") $("#quick_menu_right_sec").text(`빗방울/눈날림`);
              if(whList[i].fcstValue === "7") $("#quick_menu_right_sec").text(`눈날림`);
            }
          }
      }
}
function goBlog(){
  location.href="/v1/blog?scope=paging";
}
function goDocument(){
  if(isMobile()){
    alert("모바일에선 접근이 불가능한 페이지 입니다.\n pc로 접속해 주세요.");
    return;
  }

  location.href="/v1/documents";
}
</script>
<script>
	$(document).ready(function(){
		$(window).on('load resize', function(){
			if($(window).width() > 768){
				$(window).on('scroll', function(){	
					$('.quick_menu').css('top', $(window).scrollTop() + $(window).height() / 2);
				});
			}else {
				$('.quick_menu').css('top', 0);
			}
		});
	});
  function backgroundWeather(weather){
      if(weather === "rain"){
        $("#quick_menu_left_area_etc").html(`<img src="/imges/rain.png">`);
        $("#quick_menu").css("background-image","url(/imges/rain-back.jpg)");
        $("#quick_menu").css("color","white");
        $("#precipitationArea").text(`비`);
      }
      if(weather === "sun"){
        $("#quick_menu_left_area").html(`<img src="/imges/sun.png">`);
        $("#quick_menu").css("background-image","url(/imges/sky.jpg)");
        $("#quick_menu").css("color","black");
        $("#quick_menu_right_sec").text("맑음");
      }

  }
  function changeDisplay(weather){
    if(weather === "rain"){
      $("#quick_menu_right_sec").css('display','none');
      $("#quick_menu_right_sec_etc").css('display','inline-block');
      $("#quick_menu_left_area").css('display','none');
      $("#quick_menu_left_area_etc").css('display','block');
    }
    if(weather === "sun"){
      $("#quick_menu_right_sec").css('display','block');
      $("#quick_menu_right_etc").css('display','none');
      $("#quick_menu_left_area").css('display','block');
      $("#quick_menu_left_area_etc").css('display','none');
    }

  }
</script>
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <%- include('layout/header.ejs') %>
    <div class="quick_menu" id="quick_menu" style="top: 1171.27px;">
        <div class="quick_menuHeader" id="quick_menuHeader">
          </div>
            <div class="quick_menu_container" id="quick_menu_container">
              <div class="quick_menu_left_area" id="quick_menu_left_area">
              </div>
              <div class="quick_menu_left_area_etc" id="quick_menu_left_area_etc">
              </div>
            <div class="quick_menu_right_area" id="quick_menu_right_area">
              <div id="ondo"></div>
              <div class="quick_menu_right_sec" id="quick_menu_right_sec">
              </div>
              <div class="quick_menu_right_sec_etc" id="quick_menu_right_sec_etc">
                <p id="precipitationArea"></p><p id="precipitation"></p>
              </div>
            </div>
          </div>
    </div>
 <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>Welcome to KIM-ES PORTFOLIO</h1>
      <h2>If It's Not Fun, Why Do It?</h2>
      <img src="/imges/hero-img.png" alt="Hero Imgs">
      <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
      <!-- <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
      </div> -->
    </div>
  </section><!-- #hero -->
  <!--==========================
    Get Started Section
  ============================-->
  <section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>my development experience</h2>
        <p class="separator">2020~2021</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="feature-block">

            <img src="/imges/KT.png" alt="img" class="img-fluid">
            <h4>KT API-Link G/W 유지보수</h4>
            <p>2020-05-01 ~ 2020-09-30</p>
            <p>My Work<br/>
              매월 NginX Source Deploy & Apache Source Deploy/ErrorLog 점검/Api Monitoring/SSL 인증서 교체작업</p>
            <!-- <a href="#">read more</a> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/logo.png" alt="img" class="img-fluid">
            <h4>대한탁구협회/디비전리그</h4>
            <p>2020-12-01 ~ 2021-04-18</p>
            <p>My Work<br/>
              회원가입/마이페이지/메인페이지/디비전리그/팀선수/경기장 파트 개발
            </p>
            <a href="https://ttadivision.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/logo.png" alt="img" class="img-fluid">
            <h4>대한탁구협회/디비전리그</h4>
            <p>2021-04-18 ~ toDay</p>
            <p>My Work<br/>
              대한탁구협회/디비전리그 유지보수</p>
            <a href="https://ttadivision.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/korea.png" alt="img" class="img-fluid">
            <h4>대한체육회/e진로지원</h4>
            <p>2021-07-01 ~ toDay</p>
            <p>My Work<br/>
              대한체육회/e진로지원 유지보수 및 추가개발</p>
            <a href="https://welfare.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/korea.png" alt="img" class="img-fluid">
            <h4>대한체육회/공공스포츠클럽</h4>
            <p>2021-07-01 ~ toDay</p>
            <p>My Work<br/>
              대한체육회/공공스포츠클럽 유지보수 및 추가개발</p>
            <a href="https://ttadivision.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    API Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="/imges/api.png" alt="About" class="rounded">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content">
            <h2><span>REST APIS</span><br/>ES PORTFOLIO</h2>
            <p>
              HTTP URI(Uniform Resource Identifier)를 통해 자원(Resource)을 명시하고, 
              HTTP Method(POST, GET, PUT, DELETE)를 통해 해당 자원에 대한 CRUD Operation을 적용하는 것을 의미한다.
              즉, REST는 자원 기반의 구조(ROA, Resource Oriented Architecture) 설계의 중심에 Resource가 있고 
              HTTP Method를 통해 Resource를 처리하도록 설계된 아키텍쳐를 의미한다.
              웹 사이트의 이미지, 텍스트, DB 내용 등의 모든 자원에 고유한 ID인 HTTP URI를 부여한다.
            </p>

            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i><a href="javascript:goDocument()">go documents</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </section>
<br/><br/><br/><br/><br/><br/><br/>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Stack</h2>
        <p class="separator">현재 공부하고 있는 것과 하고 있는것.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/919825.png" alt="img" class="img-fluid">
            <h4>Node Js</h4>
            <p>현재 사이트 프로젝트 자체가 node 기반으로 구성 되어 있습니다. 제 경험으로는  확실히 API 서버 자체를 
              Spring이나 Spring-Boot 로 사용하는게 아직 제가 미숙해서 인지는 모르겠으나 Transaction 처리나 
              동기/비동기 처리하는게 중복소스도 너무 많이 나오고 불편한 점들이 좀 많은 것 같습니다..
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/java.jpg" alt="img" class="img-fluid rounded-circle" >
            <h4>JAVA</h4>
            <p>처음 시작한 언어가 JAVA 이며 학원 프로젝트를 시작하여 , 탁구디비전, 공공스포츠클럽, e진로지원 센터등
              공공기관 프로젝트를 개발 및 운영하고 있습니다.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/javascript.png" alt="img" class="img-fluid">
            <h4>Javascript</h4>
            <p>javascript 자체도 시작부터 지금까지 3년정도 사용하고 있습니다. 주로 저는 공기관 프로젝트를 경험하다보니 
              Client분들이 나이가 좀 있으셔서 대부분 Internet Explorer를 사용하고 있어서 javascript version 영향이 많이 가는 경우가 있었는데
              이러한 경험들이 좀 더 코드를 짜는데 있어서 도움이 많이 되었습니다.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/jquery.png" alt="img" class="img-fluid">
            <h4>Jquery</h4>
            <p>제이쿼리 기본 문법으로 시작하여 jqgrid, datepicker, summernote,Feature-rich 등등 다양한 plugin 경험을 바탕으로 유용하게 사용하고 있는 library 중 하나 입니다.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/oracle.jpg" alt="img" class="img-fluid">
            <h4>Oracle</h4>
            <p>현재 공공스포츠 클럽과, e진로지원의 경우 oracle database 를 사용하고 있으며 처음 사용한 DB 도 oracle 이었 습니다.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/mysql.png" alt="img" class="img-fluid">
            <h4>Mysql</h4>
            <p>대한체육회 탁구디비전이 mysql을 사용하고 있습니다.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/linux.png" alt="img" class="img-fluid">
            <h4>Linux</h4>
            <p>대체적으로 모든 프로젝트가 Centos 기반으로 이루어져 있어 접할 기회가 많았고 KT,회사내부 TB-Server, 현재 사이트 호스팅 서버 또한 centos 입니다.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/jenkins.png" alt="img" class="img-fluid">
            <h4>jenkins</h4>
            <p>첫 회사 입사 후 대표님께서 배포 자동화를 해달라고 요구 하셔서 알아보다 CI/CD를 알게 되었고  회사 내부 프로젝트 배포 자동화를 시작으로, 디비전 리그 배포자동화 처리, 현재 개인포폴사이트 또한 자동화 처리가 되어 있습니다.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Screenshots Section
  ============================-->
  <section id="screenshots" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Movie Crawling</h2>
        <p class="separator">
          now in theaters from LOTTE CINEMA<br/>
          api-server에서 Scheduler 를 통해<br/> 
          매일 아침 07시 30분에 기존 데이터를 삭제하고 크롤링을 통하여 새로운 LOTTE CINEMA DATA 를 스크랩핑하여<br/>
          출력시킨 결과물 입니다.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="owl-carousel" id="movieList">

      </div>
    </div>

  </section>

  <!--==========================
    Video Section
  ============================-->

  <!-- <section id="video" class="text-center wow fadeInUp">
    <div class="overlay">
      <div class="container-fluid container-full">

        <div class="row">
          <a href="#" class="js-modal-btn play-btn" data-video-id="s22ViV7tBKE"></a>
        </div>

      </div>
    </div>
  </section> -->

  <!--==========================
    Team Section
  ============================-->
  <section id="team" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>MY Instagram</h2>
        <p class="separator">나의 일상 기록들.</p>
      </div>
    </div>

    <div class="container">
      <div class="row" >
<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/960653" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>

      </div>
    </div>
  </section>


  <!--==========================
    Testimonials Section
  ============================-->

  <!-- <section id="testimonials" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <div class="carousel-item  active">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Kimberly Tran<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Henderson<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>David Spark<span>manager</span></h4>

                  </div>
                </div>

              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->

  <!--==========================
    Pricing Table Section
  ============================-->
  <!-- <section id="pricing" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Meet With Price</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>basic</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>PERSONAL</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>BUSINESS</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>profeesional</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!--==========================
    Blog Section
  ============================-->
  <section id="blog" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Latest posts</h2>
        <p class="separator"><a href="javascript:goBlog()">커뮤니티 보러가기!</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row" id="blog_area">
      </div>
    </div>
  </section>

  <!--==========================
    Newsletter Section
  ============================-->
  <!-- <section id="newsletter" class="newsletter text-center wow fadeInUp">
    <div class="overlay padd-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-6">
            <form class="form-inline" method="POST" action="#">

              <input type="email" class="form-control " placeholder="Email Adress" name="email">
              <button type="submit" class="btn btn-default"><i class="fa fa-location-arrow"></i>Subscribe</button>

            </form>

          </div>
        </div>

          <ul class="list-unstyled">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>


      </div>
    </div>
  </section> -->
  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">
    <div class="container">
      <div class="section-title text-center">
        <h2>Contact</h2>
        <p class="separator">이메일로 문의를 남겨주세요!</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>현재직장 : 서울 송파구 문정동 (주)상록에스</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <p>eunsoo8606@gamil.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+82 010-9726-****</p>
            </div>
          </div>
          <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
          <div class="">
            <a href="https://blog.naver.com/eunsoo8606" class="blog" target='_blank'>
              <img src="/imges/blog.png" alt="아이콘:네이버블로그"/>
            </a>
            <a href="https://www.instagram.com/eunsu1993/" class="instagram" target='_blank'>
              <img src="/imges/instagram.png" alt="아이콘:네이버블로그"/>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100014587301903" class="google-plus" target='_blank'>
              <i class="fa fa-facebook-square fa-2x" style="color:#1877f2; margin-left: 7px;position: absolute; font-size: 2.1em !important;" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="/v1/mail" method="post" role="form" onsubmit="checkMail()" class="contactForm">
              <div class="form-group">
                <input type="text" name="company" class="form-control" id="company" placeholder="회사명" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="이메일"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="제목" data-rule="required" />
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" placeholder="메세지를 입력해 주세요."></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #contact -->  
    <%- include('layout/footer.ejs') %>
</body>
</html>