<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>myHistory</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 <%- include('layout/back.ejs') %>
 <script>
  const toDayApiCnt = 0;
function goDocument(){
 
  if(isMobile()){
    alert("모바일에선 접근이 불가능한 페이지 입니다.\n pc로 접속해 주세요.");
    return;
  }

  location.href="/v1/documents";
}
function isMobile(){
    // 모바일 여부
 var isMobile = false;
 // PC 환경
 var filter = "win16|win32|win64|mac";
 if (navigator.platform) {
     isMobile = filter.indexOf(navigator.platform.toLowerCase()) < 0;
 }
 return isMobile;
}
</script>
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <%- include('layout/header.ejs') %>
 <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>Welcome to KIM-ES PORTFOLIO</h1>
      <h2>If It's Not Fun, Why Do It?</h2>
      <img src="/imges/hero-img.png" alt="Hero Imgs">
      <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->
  <!--==========================
    Get Started Section
  ============================-->
  <section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>my development experience</h2>
        <p class="separator">2020~2021</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/KT.png" alt="img" class="img-fluid">
            <h4>KT API-Link G/W 유지보수</h4>
            <p>2020-05-01 ~ 2020-09-30</p>
            <p>My Work<br/>
              유지보수
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/kttattf.png" alt="img" class="img-fluid">
            <h4>대한탁구협회/디비전리그</h4>
            <p>2020-12-01 ~ 2021-04-18</p>
            <p>My Work<br/>
              개발 및 유지보수
            </p>
            <a href="https://ttadivision.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/kttattf.png" alt="img" class="img-fluid">
            <h4>대한탁구협회/디비전리그</h4>
            <p>2021-04-18 ~ toDay</p>
            <p>My Work<br/>
              개발 및 유지보수</p>
            <a href="https://ttadivision.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/korea.png" alt="img" class="img-fluid">
            <h4>대한체육회/e진로지원</h4>
            <p>2021-07-01 ~ toDay</p>
            <p>My Work<br/>
              개발 및 유지보수</p>
            <a href="https://welfare.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/korea.png" alt="img" class="img-fluid">
            <h4>대한체육회/공공스포츠클럽</h4>
            <p>2021-07-01 ~ toDay</p>
            <p>My Work<br/>
              개발 및 유지보수</p>
            <a href="https://ttadivision.sports.or.kr/">Go-to-See!</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <img src="/imges/kjalogo.jpg" alt="img" class="img-fluid">
            <h4>대한족구협회/디비전리그</h4>
            <p>2022-06-18 ~ toDay</p>
            <p>My Work<br/>
              개발 및 유지보수</p>
            <a href="https://jokgu.or.kr/main.do">Go-to-See!</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    API Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="/imges/api.png" alt="About" class="rounded">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content">
            <h2><span>REST APIS</span><br/>ES PORTFOLIO</h2>
            <p>
              HTTP URI(Uniform Resource Identifier)를 통해 자원(Resource)을 명시하고, 
              HTTP Method(POST, GET, PUT, DELETE)를 통해 해당 자원에 대한 CRUD Operation을 적용하는 것을 의미한다.
              즉, REST는 자원 기반의 구조(ROA, Resource Oriented Architecture) 설계의 중심에 Resource가 있고 
              HTTP Method를 통해 Resource를 처리하도록 설계된 아키텍쳐를 의미한다.
              웹 사이트의 이미지, 텍스트, DB 내용 등의 모든 자원에 고유한 ID인 HTTP URI를 부여한다.
            </p>

            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i><a href="javascript:goDocument()">go documents</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </section>
<br/><br/><br/><br/><br/><br/><br/>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Stack</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/919825.png" alt="img" class="img-fluid">
            <h4>Node Js</h4>
            <p>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/java.png" alt="img" class="img-fluid rounded-circle" >
            <h4>JAVA</h4>
            <p>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/javascript.png" alt="img" class="img-fluid">
            <h4>Javascript</h4>
            <p>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/jquery.png" alt="img" class="img-fluid">
            <h4>Jquery</h4>
            <p></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/oracle.png" alt="img" class="img-fluid">
            <h4>Oracle</h4>
            <p></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/mysql.png" alt="img" class="img-fluid">
            <h4>Mysql</h4>
            <p></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/linux.png" alt="img" class="img-fluid">
            <h4>Linux</h4>
            <p></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/jenkins.png" alt="img" class="img-fluid">
            <h4>Jenkins</h4>
            <p></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/springboot.png" alt="img" class="img-fluid">
            <h4>Spring Boot</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/express.png" alt="img" class="img-fluid">
            <h4>Express</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/spring.png" alt="img" class="img-fluid">
            <h4>Spring</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="/imges/github.png" alt="img" class="img-fluid">
            <h4>Github</h4>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--==========================
    Video Section
  ============================-->

  <!-- <section id="video" class="text-center wow fadeInUp">
    <div class="overlay">
      <div class="container-fluid container-full">

        <div class="row">
          <a href="#" class="js-modal-btn play-btn" data-video-id="s22ViV7tBKE"></a>
        </div>

      </div>
    </div>
  </section> -->

  <!--==========================
    Team Section
  ============================-->
  <section id="team" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>MY Instagram</h2>
        <p class="separator">나의 일상 기록들.</p>
      </div>
    </div>

    <div class="container">
      <div class="row" >
<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/960653" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>

      </div>
    </div>
  </section>


  <!--==========================
    Testimonials Section
  ============================-->

  <!-- <section id="testimonials" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <div class="carousel-item  active">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Kimberly Tran<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Henderson<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>David Spark<span>manager</span></h4>

                  </div>
                </div>

              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->

  <!--==========================
    Pricing Table Section
  ============================-->
  <!-- <section id="pricing" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Meet With Price</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>basic</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>PERSONAL</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>BUSINESS</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-pricing">
            <div class="table">
              <h4>profeesional</h4>
              <h2>$29</h2>
              <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul>
              <div class="table_btn">
                <a href="#" class="btn"><i class="fa fa-shopping-cart"></i> Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!--==========================
    Blog Section
  ============================-->
  <section id="blog" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Latest posts</h2>
        <p class="separator"><a href="javascript:goBlog()">커뮤니티 보러가기!</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row" id="blog_area">
      </div>
    </div>
  </section>

  <!--==========================
    Newsletter Section
  ============================-->
  <!-- <section id="newsletter" class="newsletter text-center wow fadeInUp">
    <div class="overlay padd-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-6">
            <form class="form-inline" method="POST" action="#">

              <input type="email" class="form-control " placeholder="Email Adress" name="email">
              <button type="submit" class="btn btn-default"><i class="fa fa-location-arrow"></i>Subscribe</button>

            </form>

          </div>
        </div>

          <ul class="list-unstyled">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>


      </div>
    </div>
  </section> -->
  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">
    <div class="container">
      <div class="section-title text-center">
        <h2>Contact</h2>
        <p class="separator">이메일로 문의를 남겨주세요!</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>현재직장 : 서울 송파구 문정동 (주)상록에스</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <p>eunsoo8606@gamil.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+82 010-9726-****</p>
            </div>
          </div>
          <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
          <div class="">
            <a href="https://blog.naver.com/eunsoo8606" class="blog" target='_blank'>
              <img src="/imges/blog.png" alt="아이콘:네이버블로그"/>
            </a>
            <a href="https://www.instagram.com/eunsu1993/" class="instagram" target='_blank'>
              <img src="/imges/instagram.png" alt="아이콘:네이버블로그"/>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100014587301903" class="google-plus" target='_blank'>
              <i class="fa fa-facebook-square fa-2x" style="color:#1877f2; margin-left: 7px;position: absolute; font-size: 2.1em !important;" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="/v1/mail" method="post" role="form" onsubmit="checkMail()" class="contactForm">
              <div class="form-group">
                <input type="text" name="company" class="form-control" id="company" placeholder="회사명" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="이메일"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="제목" data-rule="required" />
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" placeholder="메세지를 입력해 주세요."></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #contact -->  
    <%- include('layout/footer.ejs') %>
  
    <script>
      $(()=>{

        $.ajax({
          url:"/v1/blog/top3",
          type:"GET",
          success:(data)=>{ 
            var datas  = data.data;
            var values = '';
            var webDomain = window.location.protocol+ "//" + window.location.host;
            if(datas == null || datas.length == 0) {
              values="<div class='blog-none'>작성된 블로그 내용이 없습니다.</div>";
              $("#blog_area").html(values);
              return false;
            }
    
            for(var i = 0; i < datas.length;i++){
              var mainImg = datas[i].MAIN_IMG;
              if(mainImg == null) mainImg = '/imges/blog/blog-image-1.jpg';
    
              values += ` <div class="col-md-6 col-lg-4 mt-5">
                            <div class="block-blog text-left">
                              <a href="javascript:void(0)"><img src="${(mainImg === ""?"/imges/blog/blog-image-1.jpg":mainImg)}"width='360' height='220' onerror="this.src='${webDomain}/imges/blog/blog-image-1.jpg'"></a>
                              <div class="content-blog">
                                <h4><a href="#">${datas[i].TITLE}</a></h4>
                                <span>${datas[i].REG_DTTM}</span>
                                <a class="pull-right readmore" href="/v1/blog/detail/${datas[i].BLOG_SEQ}?category=${btoa('detail')}">View Details</a>
                              </div>
                            </div>
                          </div>`;
            }
    
            $("#blog_area").html(values);
          },
          error:(err)=>{
            console.log(err);
          }
        });
    
      });
    function checkMail(){
      if($("#company").val() == ""){
        alert("회사명을 입력해 주세요!");
        $("#company").focus();
        return false;
      }
      if($("#mail").val() == ""){
        alert("mail을 입력해 주세요!");
        $("#mail").focus();
        return false;
      }
      if(Util.isEmail($("#mail").val())){
        alert("mail 형식을 확인해 주세요!");
        $("#mail").focus();
        return false;
      }
      if($("#subject").val() == ""){
        alert("제목을 입력해 주세요!");
        $("#subject").focus();
        return false;
      }
    
    
    }
    function goBlog(){
      location.href="/v1/blog?scope=paging";
    }
    </script>
</body>
</html>