<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>myHistory</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 <%- include('../layout/back.ejs') %>
 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7310d6d1ab2092c321eeac72042dfc50&libraries=services"></script>
<script>
$(function(){
    blogList(1);
});

function blogList(cpage){
  console.log("cpage1 : ", cpage)
  $("#cpage").val(cpage);
  console.log("cpage2 : ", $("#cpage").val())
  $.ajax({
      url:"/v1/blog/list",
      type:"GET",
      data:$("#blog-list").serialize(),
      success:(data)=>{ 
        var datas = data.data;
        if(datas.length == 0) return false;
        var values = '';
        for(var i = 0; i < datas.length;i++){
          var mainImg = datas[i].MAIN_IMG;
          if(mainImg == null) mainImg = '/imges/blog/blog-image-1.jpg';

          values += ` <div class="col-md-6 col-lg-4 mt-5">
                        <div class="block-blog text-left">
                          <a href="#"><img src="${(mainImg === ""?"/imges/blog/blog-image-1.jpg":mainImg)}"width='360' height='220' alt="/imges/blog/blog-image-1.jpg"></a>
                          <div class="content-blog">
                            <h4><a href="#">${datas[i].TITLE}</a></h4>
                            <span>${datas[i].REG_DTTM}</span>
                            <a class="pull-right readmore" href="/v1/console/app/${datas[i].BLOG_SEQ}">View Details</a>
                          </div>
                        </div>
                      </div>`;
        }

        $("#blog_area").html(values);
        console.log("cpage : ", $("#cpage").val())
        Util.setPaging("#paginationSub",$("#cpage").val(),data.etc,"blogList");
      },
      error:(err)=>{
        console.log(err);
      }
    });
}
</script>
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <%- include('../layout/blog/header.ejs') %>

  <!--==========================
    Blog Section
  ============================-->
  <section id="blog" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Blog List</h2>
        <p><a href="/v1/blog/write">블로그 작성하기 <i class="fas fa-pencil-alt" style="margin-bottom: 3px;"></i></a></p>
      </div>
    </div>
    <form name="blog-list" id="blog-list">
      <input type="hidden" id="cpage" name="cpage" value="1"/>
      <input type="hidden" id="limit" name="limit" value="10"/>
    </form>
    <div class="container">
      <div class="row" id="blog_area">
        
      </div>
    </div>
    <div class="container">
      <div class="section-title text-center">
      <div class="pagination">
        <div class="paginationSub " id="paginationSub"></div>
      </div>
    </div>
    </div>
  </section>
  
    <%- include('../layout/footer.ejs') %>
</body>
</html>