<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>myHistory</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 <%- include('../layout/back.ejs') %>
 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7310d6d1ab2092c321eeac72042dfc50&libraries=services"></script>
<script>
$(function(){
  $.ajax({
      url:"/v1/user/me",
      type:"GET",
      dataType:'json',
      success:(data)=>{

      },
      error:(err)=>{
        console.log(err);
      }
    });

});
</script>
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <%- include('../layout/blog/header.ejs') %>

  <!--==========================
    Blog Section
  ============================-->
  <section id="blog" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Blog List</h2>
        <p><a href="/blog/moveWriteBlog">블로그 작성하기 <i class="fas fa-pencil-alt" style="margin-bottom: 3px;"></i></a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4 mt-3">
          <div class="block-blog text-left">
            <a href="#"><img src="/imges/blog/blog-image-1.jpg" alt="img"></a>
            <div class="content-blog">
              <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
              <span>05, juin 2017</span>
              <a class="pull-right readmore" href="#">read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mt-3">
          <div class="block-blog text-left">
            <a href="#"><img src="/imges/blog/blog-image-2.jpg" class="img-responsive" alt="img"></a>
            <div class="content-blog">
              <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
              <span>05, juin 2017</span>
              <a class="pull-right readmore" href="#">read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mt-3">
          <div class="block-blog text-left">
            <a href="#"><img src="/imges/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
            <div class="content-blog">
              <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
              <span>05, juin 2017</span>
              <a class="pull-right readmore" href="#">read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mt-3">
            <div class="block-blog text-left">
              <a href="#"><img src="/imges/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                <span>05, juin 2017</span>
                <a class="pull-right readmore" href="#">read more</a>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>
  
    <%- include('../layout/footer.ejs') %>
</body>
</html>