 <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">
            <a class="navbar-brand" href="#">KIM-ES PORTFOLIO</a>
            <p>node.js 기반으로 만들어진 개인 포트폴이오 사이트 입니다. 
              서버환경부터 사이트 제작까지 직접 구현 했습니다.<br/><br/>
              사이트 제작자 : kim eun soo<br/>
              Email : eunsoo8606@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript /libraries -->
  <!-- <script src="/lib/jquery/jquery.min.js"></script> -->
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <!-- <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/modal-video/js/modal-video.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>

  <script src="/js/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>