<header id="header" class="header header-hide">
<script>
  $(function(){

})
</script>
    <div class="container">
      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><img src="/imges/logos.png"/></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-has-children"><a href="javascript:void(0)">마이페이지</a>
            <ul>
              <li><a href="#">내 정보수정</a></li>
              <li><a href="/auth/logout_process">로그아웃</a></li>
              <li><a href="/v1/console/app">내 애플리케이션</a></li>
              <li><a href="/v1/blog">내 블로그</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->