<header id="header" class="header header-hide">
<script>
    $(function(){
      $("#nav-menu-container").css("position","relative");
      $("#mobile-nav").css({"position":"absolute !important","z-index":"0"});
    });
</script>
    <div class="container">
      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><img src="/imges/logo.png" style="height: 70px;"/></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu" id="nav-menu">
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->