<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../layout/back.ejs') %>
    <title>API Document</title>
    <style>
        .left_sub_menu {
            position: fixed;
            top: 90px;
            width: 300px;
            z-index: 10;
            background: white;
            border-right: 1px solid rgba(0, 0, 0, 0.07);
            bottom: 50px;
            height: 100%;
            margin-bottom: -70px;
            margin-top: 0px;
            padding-bottom: 0px;
            box-shadow: 0 0px 0px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
            color: black;
        }

        .sub_menu {
            margin-top: 50px;
        }

        .left_sub_menu>.sub_menu li:hover {
            color: ff5858;
            background-color: #e1e1e1;
        }

        .left_sub_menu>.sub_menu li {
            color: #333;
            font-size: 17px;
            font-weight: 600;
            padding: 20px 0px 8px 14px;
            border-bottom: 1px solid #e1e1e1;
        }

        .sub_menu>h2 {
            padding-bottom: 4px;
            border-bottom: 3px solid #797979;
            margin-top: 30px;
            font-size: 21px;
            font-weight: 600;
            color: #333;
            margin-left: 10px;
            margin-right: 10px;
            font-family: 'NotoKrB';
            line-height: 35px;
        }

        .sub_menu .fas {
            color: #ff5858;
            font-size: 20px;
            line-height: 20px;
            float: right;
            margin-right: 20px;
        }

        .sub_menu>.big_menu>.small_menu li {
            color: #333;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 0px solid #e1e1e1;
            margin-left: 14px;
            padding-top: 8px;
        }

        .big_menu {
            cursor: pointer;
        }

        ul {
            padding-inline-start: 0px;
        }

        a {
            color: #797979;
            text-decoration: none;
            background-color: transparent;
        }

        ul {
            list-style: none;
        }

        ol,
        ul {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .has_sub {
            width: 100%;
        }


        .hide_sidemenu {
            display: none;
        }
    </style>
    <!-- 왼쪽 사이드 메뉴 스크립트 -->
<script>
    $(function () {
        // 왼쪽메뉴 드롭다운
        $(".sub_menu ul.small_menu").hide();
        $(".sub_menu ul.big_menu").click(function () {
            $("ul", this).slideToggle(300);
        });
    });
</script>
</head>
<body>
    <%- include('../layout/apis/header.ejs') %>
    <div id="wrapper">
        <div class="topbar" style="position: absolute; top:0;">
            <!-- 왼쪽 서브 메뉴 -->
            <div class="left_sub_menu">
                <div class="sub_menu">
                    <h2>REST API</h2>
                    <ul class="big_menu">
                        <li>개발 가이드<i class="fas fa-book" style="margin-right:12px; float:right; margin-top: 7px;"></i></li>
                        <ul class="small_menu">
                            <li><a href="#">OAuth 인증</a></li>
                            <li><a href="#">로그인</a></li>
                            <li><a href="">소메뉴1-3</a></li>
                            <li><a href="#">소메뉴1-4</a></li>
                        </ul>
                    </ul>
                    <ul class="big_menu">
                        <li>MEMBER API<i class="fas fa-users" style="margin-right:12px; float:right; margin-top: 7px;"></i></li>
                        <ul class="small_menu">
                            <li><a href="#">소메뉴2-1</a></li>
                            <li><a href="#"></a>소메뉴2-2</a></li>
                        </ul>
                    </ul>
                    <ul class="big_menu">
                        <li>BOARD API<i class="fas fa-table" style="margin-right:12px; float:right; margin-top: 7px;"></i></li>
                        <ul class="small_menu">
                            <li><a href="#">소메뉴2-1</a></li>
                            <li><a href="#"></a>소메뉴2-2</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    <!--==========================
    API Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
        <div class="row mt-4">
    <h4>Home</h4> &nbsp;<i class="fa fa-angle-right mt-1"></i> &nbsp;<h4>개발 가이드</h4>&nbsp; <i class="fa fa-angle-right mt-1"></i> <h4>인증 프로세스 안내</h4>
    </div>
    </div>
  </section>  
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-6 col-lg-4">
          <img src="/imges/api2.png" alt="About" class="rounded">
        </div>
        <div class="col-md-7 col-lg-5">
          <div class="about-content">
            <h2><span>인증</span><br/>프로세스 안내.</h2>
            <h3>
                목차
            </h3><br/>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i><a href="#"> 역할 정의</a></li>
                <li><i class="fa fa-angle-right"></i><a href="#"> 필수용어 안내</a></li>
                <li><i class="fa fa-angle-right"></i><a href="#"> 인증 프로세스</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include('../layout/footer.ejs') %>
</body>
</html>