<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand" href="#">
           <img src="/imges/logo3.jpg" width="167" onclick="javascript:location.href='/'"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="#intro" class="nav-link smoothScroll">소개</a>
                </li>

                <li class="nav-item">
                    <a href="#about" class="nav-link smoothScroll">경력</a>
                </li>

                <li class="nav-item">
                    <a href="#testimonials" class="nav-link smoothScroll">기술</a>
                </li>

                <li class="nav-item">
                    <a href="#contact" class="nav-link smoothScroll">문의하기</a>
                </li>
            </ul>
        </div>

    </div>
</nav>