<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../layout/back.ejs') %>
    <title>API Document</title>
    <link href="/css/apimenu.css" rel="stylesheet">

</head>
<body>
    <%- include('../../layout/apis/header.ejs') %>
    <!--==========================
    API Section
  ============================-->
  <section class="padd-section text-center wow fadeInUp">
    <div class="container"><br/><br/>
      <div class="section-title text-center">
        <h2 style="font-weight: 700;">블로그 게시글 삭제</h2>
        <div class="title-area"><span class="delete">DELETE </span>&nbsp;&nbsp; http://ihd8606.cafe24.com:8888/v1/blog/detail</div><br/>
        <p class="separator">
            블로그 게시글 삭제가 가능합니다.
        </p><br/><br/>
        <span class="api-title">Header</span>
        <br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>Authorization</td>
                <td>사용자 인증 수단, 액세스 토큰 값
                    Authorization: Bearer {ACCESS_TOKEN}</td>
                <td>O</td>
            </tr>
        </table>
        <span class="api-title">REQUEST</span><br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>blogSeq</td>
                <td>String</td>
                <td>블로그 게시글 번호</td>
                <td>O</td>
            </tr>
        </table>
        <span class="api-title">RESPONSE</span><br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>success</td>
                <td>String</td>
                <td>업데이트 결과</td>
                <td>O</td>
            </tr>
            <tr>
                <td>providor</td>
                <td>String</td>
                <td>데이터 제공자</td>
                <td>O</td>
            </tr>
            <tr>
                <td>message</td>
                <td>String</td>
                <td>결과 메세지</td>
                <td>O</td>
            </tr>
            <tr>
                <td>data</td>
                <td>String</td>
                <td>결과 값</td>
                <td>O</td>
            </tr>
        </table>
        <span class="api-title">Error Message</span><br/><br/>
        <table class="table">
            <tr>
                <th>error</th>
                <th>error_description</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>database_error</td>
                <td>String</td>
                <td>데이터베이스 에러</td>
            </tr>
            <tr>
                <td>access_denied</td>
                <td>String</td>
                <td>요청정보가 없는 경우</td>
            </tr>
            <tr>
                <td>access_denied</td>
                <td>String</td>
                <td>토큰이 없는 경우</td>
            </tr>
        </table>
      </div>
    </div>
  </section>
    <%- include('../../layout/footer.ejs') %>
</body>
</html>