<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../layout/back.ejs') %>
    <title>API Document</title>
    <link href="/css/apimenu.css" rel="stylesheet">

</head>
<body>
    <%- include('../../layout/apis/header.ejs') %>
    <!--==========================
    API Section
  ============================-->
  <section class="padd-section text-center wow fadeInUp">
    <div class="container"><br/><br/>
      <div class="section-title text-center">
        <h2 style="font-weight: 700;">블로그목록 조회</h2>
        <div class="title-area"><span class="get">GET </span>&nbsp;&nbsp; http://ihd8606.cafe24.com:8888/v1/blog/list</div><br/>
        <p class="separator">
            블로그 목록 전체 조회 API 입니다. scope 에 ,로 구분한뒤 member 와 함께  request 할 경우 본인 블로그 목록만 조회가 가능합니다.<br/>
            paging 된 본인 블로그목록 조회 scope : 'paging,member', 전체목록 조회 scope : 'list', 페이징목록 조회 scope : 'paging', 페이징 안된 본인 블로그목록 조회 scope : 'list,member'
            페이징 처리를 원할 경우 scope value 에 paging 을 페이징을 원하지 않을 경우 list 를 할당하여 request 하시면 됩니다.
        </p><br/><br/>
        <span class="api-title">Header</span><br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>Authorization</td>
                <td>사용자 인증 수단, 액세스 토큰 값
                    Authorization: Bearer {ACCESS_TOKEN}</td>
                <td>O</td>
            </tr>
        </table>
        <span class="api-title">REQUEST</span><br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>cpage</td>
                <td>String</td>
                <td>현재 페이지 번호</td>
                <td>O</td>
            </tr>
            <tr>
                <td>scope</td>
                <td>String</td>
                <td>페이징 처리 유무(list or paging),(member 필수 X)</td>
                <td>O</td>
            </tr>
            <tr>
                <td>memberSeq</td>
                <td>String</td>
                <td>사용자 식별자</td>
                <td>X</td>
            </tr>
            <tr>
                <td>selectSize</td>
                <td>String</td>
                <td>화면에 보여질 페이지 수</td>
                <td>X</td>
            </tr>
            <tr>
                <td>title</td>
                <td>String</td>
                <td>검색할 제목 명</td>
                <td>X</td>
            </tr>
            <tr>
                <td>content</td>
                <td>String</td>
                <td>검색할 내용</td>
                <td>X</td>
            </tr>
        </table>
        <span class="api-title">RESPONSE</span><br/><br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>BLOG_SEQ</td>
                <td>String</td>
                <td>블로그 번호</td>
                <td>O</td>
            </tr>
            <tr>
                <td>MAIN_IMG</td>
                <td>String</td>
                <td>메인 이미지</td>
                <td>O</td>
            </tr>
            <tr>
                <td>TITLE</td>
                <td>String</td>
                <td>블로그 제목</td>
                <td>O</td>
            </tr>
            <tr>
                <td>REG_DTTM</td>
                <td>String</td>
                <td>등록일</td>
                <td>O</td>
            </tr>
            <tr>
                <td>CONTENT</td>
                <td>String</td>
                <td>블로그 내용</td>
                <td>O</td>
            </tr>
        </table>
        <span class="api-title">Error Message</span><br/><br/>
        <table class="table">
            <tr>
                <th>error</th>
                <th>error_description</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>database_error</td>
                <td>String</td>
                <td>데이터베이스 에러</td>
            </tr>
            <tr>
                <td>access_denied</td>
                <td>String</td>
                <td>요청정보가 없을 때</td>
            </tr>
            <tr>
                <td>access_denied</td>
                <td>String</td>
                <td>토큰이 없을 때</td>
            </tr>
        </table>
      </div>
    </div>
  </section>
    <%- include('../../layout/footer.ejs') %>
</body>
</html>